.site__footer__logo {
    img {
        @apply mx-auto lg:ml-0;
        width: 50%;
        height: auto;
        object-fit: cover;
    }
}

.menu-footer-container {
    @apply w-full;
}

.footer-menu {
    ul {
        @apply ml-0 mt-4 mb-0 mx-auto text-center md:flex justify-between;

        li {
            @apply lg:inline-block md:mb-0;
            list-style: none;

            &:not(:last-child) {
                @apply mr-0 lg:mr-6;
            }

            a {
                @apply text-white font-bold hover:underline;
                letter-spacing: 1px;

                &:visited {
                    @apply text-white;
                }
            }
        }
    }
}

.subscription_form label{
    @apply font-bold pr-1 text-white !important;
    font-size: 14px !important;
}

.subscription_form, .newsletter {
    label {
        @apply font-bold;
    }

    input {
        border: none;
        height: 50px;

        &::placeholder {
            @apply pl-2;
        }
    }
    input[type="email"] {
        @apply max-w-[200px] lg:max-w-[320px];
    }

    input[type="submit"] {
        border: 1px solid;
        border-color: #788389;
        border-radius: 0px;
        background-color: #788389;
        color: rgba(0, 0, 0, 0.8);
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 1;
        padding: 0.6em 1em 0.4em;
    }
}

.newsletter form, .subscription_form {
    @apply flex flex-wrap items-center relative mt-4 lg:mt-0 justify-center lg:justify-end;

    .wpcf7-response-output {
        position: absolute;
        bottom: -50px;
    }

    input {
        @apply pl-2 mt-6 lg:mt-2;
    }

    p {
        margin-bottom: 0;
    }

    p:nth-child(3) {
        @apply self-end;

        img {
            position: absolute;
            opacity: 0;
        }
    }
}



.mc4wp-form-fields{
    @apply text-center md:text-left;
}

.wpcf7-spinner {
    position: absolute;
}

.btn--subscribe, .subscription_form input[type="submit"] {
    @apply text-white font-bold relative  !important;
    
    cursor: pointer;
    font-size: 1rem !important;
    letter-spacing: 0.1rem;
    padding: 10px 20px !important;

    transition: all 0.2s linear;

    &:hover {
        opacity: 0.6;
    }
}

.copyright {
    p {
        @apply mb-0 text-white;
    }
}


.newsletter__footer{
    .labelModal{
        @apply hidden;
    }


    input {
        @apply pl-2 mt-0 lg:mt-2 !important;
    }


    .newsletter form input, .subscription_form input input{
        @apply mt-0 md:mt-6 !important;
    }

    .newsletter form, .subscription_form{
        @apply mt-0 md:mt-4 !important;
    }
}